node_modules
.next
.env
.next/build-manifest.json
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/static/chunks/webpack.js
.next/static/development/_buildManifest.js
.next/trace